.yellowUnderline {
    position: absolute;
    display: block;
    height: 30px;
    width: 90%;
    background-color: $yellow;
    margin-top: -25px;
    z-index: -1;

    &.dark {
        background-color: $grey;
    }
}
