.nav {
    background-color: $dark;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    z-index: 15;

    &_logo {
        background-image: url(./../images/logos/concrete.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        width: 250px;
    }

    &_list {
        // padding: $buttonspace;
        margin-left: auto;

        &_item {
            display: inline-block;
            padding: $buttonspace;

            &_link {
                text-decoration: none;
                color: $light;
            }
        }
    }
}
