@import './utilities/variables.scss';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
    font-family: $font_body;
}

.spanImage {
    display: block;
}

//temp
section {
    min-height: 100vh;
}

article {
    height: 50vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title,
.bigTitle {
    font-family: $font_title;
    font-size: 50px;
    color: $dark_grey;
    font-weight: 900;
}

.bigTitle {
    font-size: 96px;
}
