@import './utilities/variables.scss';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
    font-family: $font_body;
    font-size: 20px;
}

.spanImage {
    display: block;
}

//temp
section {
    min-height: 100vh;
}

article {
    height: 50vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title,
.bigTitle {
    font-family: $font_title;
    font-size: 50px;
    color: $dark_grey;
    font-weight: 900;
    font-style: italic;
}

.bigTitle {
    font-size: 96px;
}

.titleHeader {
    margin: 0 $spacePer5;
    margin-bottom: $spacePer1;
    text-align: center;
    position: relative;

    h2 {
        .yellowUnderline {
            width: 100%;
            left: 10px;
        }

        margin-bottom: $space5 !important;
    }

    .description {
        color: $light_grey;
    }
}
