#prototyping {
    background-color: $dark;
    opacity: 0.8;
    padding-bottom: 82px;

    h2 {
        color: $light_grey;
    }

    .video {
        background-color: $light_grey;
        display: block;
        max-width: 1140px;
        height: 640px;
        overflow: hidden;
        border-radius: $radius;
        margin: 0 auto;
        position: relative;
        box-shadow: 20px -20px 0 -10px $yellow;

        &.playing {
            .playButton {
                display: none !important;
            }
        }

        .playButton {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            background-image: url(./../images/button.png);
            background-size: contain;
            background-repeat: no-repeat;

            height: 75px;
            width: 75px;

            cursor: pointer;

            z-index: 2;
        }

        &:hover.playing {
            .pauseButton {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

                background-image: url(./../images/pausebutton.png);
                background-size: contain;
                background-repeat: no-repeat;

                height: 75px;
                width: 75px;

                cursor: pointer;

                z-index: 2;
            }
        }

        video {
            width: 100%;
            height: auto;
            z-index: 1;
        }
    }
}
