#startpage {
    padding-top: 82px;

    .split_left {
        .title {
            text-align: left;
            font-size: 80px;
            margin: 0 0 0 15%;
        }

        .yellowUnderline {
            width: 50%;
            margin-left: $spacePer5;
        }

        .logos {
            margin-left: $spacePer5;
            margin-right: $spacePer5;

            display: flex;
            justify-content: space-between;

            .spanImage {
                height: 100px;
                width: 150px;

                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;

                &.versbeton {
                    background-image: url('./../images/logos/versbeton.png');
                }

                &.rotterdam {
                    background-image: url('./../images/logos/gemeenterotterdam.png');
                }

                &.open {
                    width: 100px;
                    background-image: url('./../images/logos/openrotterdam.png');
                }
            }
        }
    }

    .split_right {
        .picturegroup {
            position: relative;

            .backgroundcolor {
                height: 40vh;
                width: 60vh;
                background-color: $yellow;

                position: absolute;
                top: -3.5%;
                right: 5%;

                margin: 0 auto;

                z-index: -1;
            }

            .spanImage {
                height: 75vh;
                width: 60vh;

                margin: 0 auto;
                padding-top: 40%;

                background-image: url('./../images/rotterdamskyline.png');
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
}
