#startpage {
    height: 100vh;

    .split_left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        .title {
            text-align: left;
            font-size: 80px;
            margin: 0 0 0 15%;

            &:first-of-type {
                margin-top: auto;
            }
        }

        .yellowUnderline {
            width: 80%;
        }

        .arrow {
            margin: auto auto $spacePer1 auto;

            background-image: url(./../images/arrow.png);
            background-repeat: no-repeat;
            background-size: contain;

            height: 50px;
            width: 50px;
        }
    }

    .split_right {
        .spanImage {
            background-image: url('./../images/rotterdamskyline.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: top right;

            margin: 0 auto;
            margin-top: 29%;

            height: 500px;
            width: 365px;

            box-shadow: 10px -10px $yellow;
        }
    }
}
