#workprocess {
    background-color: $dark;
    opacity: 0.8;
    height: 100vh;

    display: flex;
    flex-direction: column;

    &.split {
        align-items: initial;
    }

    .split {
        &_right {
            margin-right: 0;
        }
    }

    h2 {
        color: $light_grey;
        margin-top: $spacePer5;
    }

    .workprocessImage {
        width: 85%;
    }

    .arrow {
        cursor: pointer;
        margin: auto auto $spacePer3 auto;

        background-image: url(./../images/Next_Button.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center bottom;

        height: 50px;
        width: 50px;
    }
}

#research {
    background-color: $dark;
    opacity: 0.8;

    h2 {
        color: $light_grey;
    }

    .targets {
        img {
            width: 60%;
            height: auto;
        }

        &.split {
            flex-wrap: nowrap;
        }

        .split {
            &_right {
                margin-right: 0;
            }
        }
    }

    .users {
        img {
            width: 60%;
            height: auto;
        }

        .split {
            &_right {
                margin-right: 0;
            }
        }
    }
}
